<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <h4>請輸入你的支出</h4>



      {{!-- 依不同頁面執行不同動作 --}}
      {{#ifEquals action '修改'}}
      <form action="/records/{{{record._id}}}?_method=PUT" method="POST" class="mt-5 py-5 mx-auto bg-light">
        {{else}}
        <form action="/records/new?_method=POST" method="POST" class="mt-5 py-5 mx-auto bg-light">
          {{/ifEquals}}

          <h6 class="text-secondary"><small>(<i class="fas fa-star-of-life text-danger"></i>)</small> 代表必填欄位</h6>

          <div class=" form-group">
            <label for="name" class="mr-3">名稱 <small>(<i class="fas fa-star-of-life text-danger"></i>)</small>：</label>
            <input class="col-4" type="text" name="name" id="name" value="{{{record.name}}}" required>
          </div>

          <div class="form-group">
            <label for="date" class="mr-3">日期 <small>(<i class="fas fa-star-of-life text-danger"></i>)</small>：</label>
            <input class="col-4" id="date" type="date" name="date" value="{{record.date}}">
          </div>

          <div class="form-group">
            <label for="category" class="mr-3">分類 <small>(<i
                  class="fas fa-star-of-life text-danger"></i>)</small>：</label>
            <select class="d-inline-block col-4 custom-select" name="category" id="category" required>
              <option value="" disabled selected>請選擇類別</option>
              <option value="home" {{#ifEquals record.category "home"}} selected{{/ifEquals}}>家居物業</option>
              <option value="traffic" {{#ifEquals record.category "traffic"}} selected{{/ifEquals}}>交通出行</option>
              <option value="entertainment" {{#ifEquals record.category "entertainment"}} selected{{/ifEquals}}>休閒娛樂
              </option>
              <option value="food" {{#ifEquals record.category "food"}} selected{{/ifEquals}}>餐飲食品</option>
              <option value="other" {{#ifEquals record.category "other"}} selected{{/ifEquals}}>其他</option>
            </select>
          </div>

          <div class="form-group">
            <label for="amount" class="mr-3">金額 <small>(<i
                  class="fas fa-star-of-life text-danger"></i>)</small>：</label>
            <input class="col-4" type="text" name="amount" id="amount" value="{{record.amount}}" required>
          </div>

          <div class="totalAmount col-10 mx-auto d-block mb-3">
            {{!-- 依不同頁面執行不同動作 --}}
            {{#ifEquals action '修改'}}
            <button type="submit" class="btn btn-outline-dark mt-3">更新支出</a>
              {{else}}
              <button type="submit" class="btn btn-outline-dark mt-3">建立支出</a>
                {{/ifEquals}}
          </div>

        </form>

    </div>
  </div>
</div>