{{!-- /views/index.handlebars --}}

<div class="py-2 mt-3 bg-white text-center ">

  <div class="btn-group col-5 justify-content-center">

    <div class="dropdown mb-2 col-6">
      <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category {{#if category}} : {{category}}{{/if}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/records">All</a>
        <a class="dropdown-item" href="/?category=home"><i class="fas fa-home mr-2"></i>Housing</a>
        <a class="dropdown-item" href="/?category=traffic"><i class="fas fa-shuttle-van mr-2"></i>Transportation</a>
        <a class="dropdown-item" href="/?category=entertainment"><i class="fas fa-grin-beam mr-2"></i>Entertainment</a>
        <a class="dropdown-item" href="/?category=food"><i class="fas fa-utensils mr-2"></i>Food</a>
        <a class="dropdown-item" href="/?category=other"><i class="fas fa-pen mr-2"></i>Others</a>
      </div>
    </div>

  </div>

</div>

<!-- record summary -->
<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto text-center bg-white">




      <div class="totalAmount col-10 mx-auto d-block mb-3">
        <h4 class="text-left">總金額：</h4>
        <h1 class="text-right text-primary">$ {{totalAmount}}</h1>
      </div>

      <div class="list-group list-group-flush col-10 m-auto d-block mb-3 ">
        {{#each records}}
        <div class="list-group-item mb-3 even item">

          <div class="row ">
            <div class="d-inline-block col-5">
              <h4>{{this.name}}</h4>
              <span>{{this.date}}</span>
            </div>
            <div class=" d-inline-block col-1 my-auto mr-5">
              <span style="font-size: 20px; line-height:60px;">{{this.amount}}</span>
            </div>

            <div class="mt-2">
              <a class="btn btn-outline-primary" href="/records/{{this._id}}/edit">編輯</a>
              <!-- Button trigger modal -->
              <a class="btn btn-outline-danger ml-3" data-toggle="modal" data-target="#trigger-deleteItem-{{this._id}}"
                href="#">刪除</a>

            </div>
          </div>
        </div>

        {{!--  刪除動作 --}}
        <div class="modal fade" id="trigger-deleteItem-{{this._id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <big class="font-weight-bold">確定要刪除【 {{this.name}} 】的支出紀錄嗎?</big>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <form action="/records/{{{this._id}}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger">刪除</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {{/each}}

        <div class="totalAmount col-10 mx-auto d-block mb-3">
          <a class="btn btn-outline-success mt-5" href="/records/new">新增支出</a>
        </div>
      </div>
    </div>
  </div>
</div>